# Ignore uploaded images but keep the folder structure
/uploads/*
/Files/*

# Ignore OS files
config.php
update.sql
Thumbs.db
Desktop.ini
.DS_Store

# Pastas de dados de usuários e arquivos enviados
/uploads/
/Files/
