# Ignore uploaded images but keep the folder structure
/uploads/*
!/uploads/.gitkeep

# Ignore OS files
config.php
Thumbs.db
Desktop.ini
.DS_Store

# Pastas de dados de usuários e arquivos enviados
/uploads/
/Files/
